<div class="container">

  <div class="panelContent">

    <div class="title px-4 mt-4 fs-4">
      <strong>Mortgage Calculator</strong>
    </div>

    <div class=" panel mt-3">

      <form [formGroup]="dataC">

        <div class="row">

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text">Purchase price</span>
            <input type="number" class="form-control" placeholder="00.0" formControlName="purchasePrice" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" >Interest rate<strong class="fs-6 px-1">%</strong></span>
            <input type="number" class="form-control" placeholder="0.0%" formControlName="interestRate" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" >Down payment</span>
            <input type="number" class="form-control" placeholder="00.0" formControlName="downPayment" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" >Repayment time</span>
            <input type="number" class="form-control" placeholder="00 Yeard" formControlName="repaymentTime" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class=" mt-3 input-group flex-nowrap">
            <span class="input-group-text" >Loan amount</span>
            <span class="input-group-text" ><strong>${{LoanAmount|number:"1.0-2"}}</strong></span>
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" >Estimated pr. amount</span>
            <span class="input-group-text" ><strong>${{EstimatedAmount|number:'1.0-2' }}</strong></span>
          </div>

        </div>

        <div class="row align-items-center">
            <div class="mt-4">
              <button type="button" (click)="mortagageQuote()" [disabled]="dataC.invalid" class="btn btn-warning" >
                <label *ngIf="!dataC.invalid">
                  Get a mortagage quote
                </label>
                <label *ngIf="dataC.invalid">
                  Complete all fields
                </label>
              </button>
          </div>

        </div>
      </form>

    </div>

  </div>

</div>
